@using Zavrsni.Model
@model List<Pregled>
@{
    ViewBag.Title = "Moji pregledi";
}


<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Doktor</th>
            <th>Termin</th>
            <th>Kontakt broj</th>
            <th>Potvrđen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pregled in Model)
        {
            if (DateTime.Compare(pregled.DatumIVrijemePregleda, DateTime.Now) <= 0)
            {
                <tr class ="table-active">
                    <td>
                        <a asp-controller="Home" asp-action="AboutDoktor" asp-route-id="@pregled.DoktorID">@pregled.Doktor.ImePrezime</a>
                    </td>
                    <td>@pregled.DatumIVrijemePregleda.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@pregled.Doktor.Telefon</td>
                    @{
                        if (@pregled.Potvrdeno == true)
                        {
                            <td>Potvrđeno</td>
                        }
                        else
                        {
                            <td>Nije potvrđeno</td>
                        }
                    }

                    <td>
                        <a asp-controller="Home" asp-action="DetaljiOPregledu" asp-route-id="@pregled.PregledID">Detalji</a>
                    </td>
                </tr>
            } else
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="AboutDoktor" asp-route-id="@pregled.DoktorID">@pregled.Doktor.ImePrezime</a>
                    </td>
                    <td>@pregled.DatumIVrijemePregleda.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@pregled.Doktor.Telefon</td>
                    @{
                        if (@pregled.Potvrdeno == true)
                        {
                            <td>Potvrđeno</td>
                        }
                        else
                        {
                            <td>Nije potvrđeno</td>
                        }
                    }

                    <td>
                        <a asp-controller="Home" asp-action="DetaljiOPregledu" asp-route-id="@pregled.PregledID">Detalji</a>
                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>