@using Zavrsni.Model
@model Pacijent
@{
    ViewBag.Title = "Detalji o pacijentu";
}
<h2>Detalji o pacijentu</h2>
<hr />
@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-4">
                <dl class="dl-horizontal">
                    <dt>
                        Ime i prezime pacijenta
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ImePrezime)
                    </dd>
                    <dt>
                        Datum rođenja pacijenta
                    </dt>
                    <dd>
                        @Model.DatumRodjenja.ToString("d.M.yyyy")
                    </dd>
                    <dt>
                        Email pacijenta
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Kontakt broj
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefon)
                    </dd>
                    <dt>
                        Adresa pacijenta
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adresa), @Html.DisplayFor(model => model.Grad)
                    </dd>
                </dl>

            </div>
            <div class="col-8">
                <h3>Pregledi pacijenta</h3>
                <table style="margin-top: 20px;" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Termin</th>
                            <th>Potvrđen</th>
                            <th>Napomena</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pregled in ViewBag.PacijentPregledi)
                        {
                            if(DateTime.Compare(pregled.DatumIVrijemePregleda, DateTime.Now) <= 0)
                            {
                                <tr class="table-active">
                                    <td>@pregled.DatumIVrijemePregleda.ToString("d.M.yyyy")</td>
                                    <td>@pregled.DatumIVrijemePregleda.ToString("HH:mm")</td>
                                    @{
                                        if (@pregled.Potvrdeno == true)
                                        {
                                            <td>Potvrđeno</td>
                                        }
                                        else
                                        {
                                            <td>Nije potvrđeno</td>
                                        }
                                    }
                                    <td>@pregled.Napomena</td>
                                    <td>
                                        <a asp-controller="Doktor" asp-action="DetaljiOPregleduDoktor" asp-route-id="@pregled.PregledID">Detalji</a>
                                    </td>
                                </tr>
                            } else
                            {
                                <tr>
                                    <td>@pregled.DatumIVrijemePregleda.ToString("d.M.yyyy")</td>
                                    <td>@pregled.DatumIVrijemePregleda.ToString("HH:mm")</td>
                                    @{
                                        if (@pregled.Potvrdeno == true)
                                        {
                                            <td>Potvrđeno</td>
                                        }
                                        else
                                        {
                                            <td>Nije potvrđeno</td>
                                        }
                                    }
                                    <td>@pregled.Napomena</td>
                                    <td>
                                        <a asp-controller="Doktor" asp-action="DetaljiOPregleduDoktor" asp-route-id="@pregled.PregledID">Detalji</a>
                                    </td>
                                </tr>
                            }
                            
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

}
else
{
    <div class="alert alert-danger">
        Nije odabran ispravni ID recenzije.
    </div>

}